// .nav {
//   background: slateblue;
// }

// .nav-flex-column {
//   background: slateblue;
// }

// #space {
//   background:slateblue;
//   height: 800px;
// }


// .container {
//   width: 600px;

// }
#wrapper {
    overflow-x: hidden;

 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.card-mb3 {
  overflow: hidden;
  height: 120px;
  background: blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: right;
  border-radius: 10%;

}

.card-img {
  height: 100%;
  // width: 150px;
  object-fit: cover;
}

.card-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.card-mb3 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 20;
}

.card-mb3 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-mb3 .card-product-infos {
  padding: 16px;
}

.collapse .navbar-collapse {
  background-color: 35086F;
}


.customise {
  color: white!important;
  text-decoration: none;
}

.custom-radius {
  border-radius: 30px;
}

.text {

  margin-top: 5px;
}
