schools header {
    padding: 156px 0 100px;
}

.btn-group {
    margin-bottom: 5px;
    margin-right: 5px;
}

h3 {
    color: black;
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
}

.card-img2 {
    width: 100px;
    border-radius: 50%;
}

.school-card {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: white;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 4.25rem;
    margin: -5px;
}