
<div style="max-width: 900px; min-height: 100vh; margin: auto;" class="py-3">
  <div class="d-flex justify-content-between align-items-center m-3">
    <h2>Submitte requests</h2>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="py-4">
    <div class="container-fluid">
      <% @service_requests.each do |request|%>
        <%= render 'request', request: request %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
