

  <!-- Page Content -->
  <div id="page-content-wrapper" class="py-4">
    <div class="container-fluid">
      <% @service_requests.each do |request|%>
        <%= render 'request', request: request %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
