 <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
            </div>
            <h3>About</h3>
            <p class="lead mb-0">Edujimao is a web platform that was founded with the intention of connecting foreign edutech who provide ed-tech (STEAM) solutions with international schools in the China education market to supplement their curriculum offerings. The platform was created by three teachers with years of experience in working in China. K12 education in China is characterized by competition, fragmentation, as well as a lack of quality (Ioyiou, 2018). Traditional tier one cities still dominate the market, while schools and students in other tier cities rely on educational resources that trickle down. Essentially, those institutions looking for opportunities for their students to get ahead remain at a disadvantage (AB International & IMC, 2020). The myriad of local edtech products do little to help students effectively compete.Edujimao provides three key services: 1) We rely on data analytics to best identify potential matches between companies and schools; 2) After companies have declared a request for a pairing, we reach out to schools on their behalf to facilitate the establishment of a relationship; 3) Finally, we provide consulting services for effectively entering the market, should companies wish to do so. Our primary aim is to provide access to the China market, but in doing so we aim to enable students across China to successfully compete with their peers who are enrolled at elite schools in the four top tier cities in the country.
</p>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://www.raconteur.net/wp-content/uploads/2019/09/PST_P3_1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://kitaboo.com/wp-content/uploads/2019/06/Image_1-61-1200x565.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Updated For Bootstrap 4</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://blog.malwarebytes.com/wp-content/uploads/2018/01/shutterstock_388646083.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://ak.picdn.net/shutterstock/videos/22387822/thumb/1.jpg" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img id="carlos" class="img-fluid rounded-circle mb-3" src="https://ed.stanford.edu/sites/default/files/news_images/techtips-webpage-forweb.jpg" alt="flvsvds">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://kitaboo.com/wp-content/uploads/2019/06/Image_1-61-1200x565.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
  <img src="imgages/testimonials-1.jpg" alt="blabla">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
