
<!--
<div class="banner" style="background-image: url(https://www.gettingsmart.com/wp-content/uploads/2016/12/Elementary-students-having-fun-playing-online-games-on-tablets-Feature-Image.jpg);">
  <div class="container">
    <h1>EduJiMao <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Your Gateway to the China Education Market.</p> -->

<!--   </div>
</div>
 -->

  <!-- Navigation -->

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">

      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> Edujimao Your Gateway to the China Education Market</h1>
        </div>
<!--         <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="col-12 col-md-3">
            <%# if !user_signed_in? %>
              <button type="submit" class="btn btn-block btn-lg btn-primary">Explore</button>
            <%# end %>
          </div>
        </div> -->
      </div>
    </div>
  </header>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


