
  <header class="bg-primary text-white">
    <div class="banner" style="background-image: /*linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),*/ url(https://mdreducation.com/wp-content/uploads/2018/03/MDR-EdTech-Products-Services.jpg);">
</div>
   <!--  <div class="container text-center">
      <h1>Welcome to Scrolling Nav</h1>
      <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
    </div> -->
  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
        </div>
      </div>

<!--     <div>
        <%#= form_tag schools_path, method: :get do %>
          <%#= text_field_tag :query %>
          <%#= submit_tag "Search", class: "btn btn-primary" %>
        <%# end %>
    </div> -->
    <div style="margin-bottom: 10px;"><%= render 'filter' %></div>

    <% @schools.each do |school| %>
     <%= render 'school', school: school %>
    <% end %>

  </div>
</section>
