
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}



// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     font-weight: 700;
// }
.navbar-dark .navbar-brand {
  color: gray


}
/* Give every child element its grid name */
// .header {
//   grid-area: header;
//   background-color: #648ca6;
// }

// .sidenav {
//   grid-area: sidenav;
//   background-color: #394263;
// }

// .main {
//   grid-area: main;
//   background-color: #8fd4d9;
// }

// .footer {
//   grid-area: footer;
//   background-color: #648ca6;
// }








// .navbar-lewagon {
//     justify-content: left;
//     background: black;
//     border: black;
// }

// .navbar-lewagon .navbar-collapse {
//     flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//     width: 60px;
// }




// a{
//   color: blue;
//   justify-content: space-around;
//   text-decoration: none;
// }

// p{
//   color: blue;
// }

// a:hover {
//   color: whitesmoke;
//   text-decoration: none;
// }

