.navbar-lewagon {
    justify-content: left;
    background: black;
    border: black;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 60px;
}




a{
  color: blue;
  justify-content: space-around;
  text-decoration: none;
}

p{
  color: blue;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

