<!-- <div class="banner" style="background-image: url(https://mdreducation.com/wp-content/uploads/2018/03/MDR-EdTech-Products-Services.jpg);"></div> -->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <%= render '/layouts/side_bar' %>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="py-4">
    <div class="container-fluid">

      <% @products.each do |product|%>

        <%= render 'product', product: product %>
      <% end %>

      <%= link_to 'Add a product', new_product_path %>

    </div>
  </div>

</div>





