
<header class="bg-primary text-white">
  <div class="banner" style="background-image: /*linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),*/ url(https://edtechmagazine.com/k12/sites/edtechmagazine.com.k12/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/201902/K12_021419_mobile.png.jpg?itok=we0Y9Sn5);"></div>
   <!--  <div class="container text-center">
      <h1>Welcome to Scrolling Nav</h1>
      <p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
    </div> -->
</header>


<!-- Sidebar -->
<div style="max-width: 900px; min-height: 100vh; margin: auto;" class="py-3">
  <%#= render '/layouts/side_bar' %>

  <div class="d-flex justify-content-between align-items-center m-3">
    <h2>Education Products</h2>
    <%= link_to 'Add a product', new_product_path, class: "btn btn-lg btn-outline-primary" %>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="py-4">
    <div class="container-fluid">
      <% @products.each do |product|%>
        <%= render 'product', product: product %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
