<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"></div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">My Products</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Inbox</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Requests</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Chat</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Recommendations</a>
  </div>
</div>
